<h2 id="title">Ember Lazy Video</h2>

{{lazy-video url="https://vimeo.com/108532122"}}

{{lazy-video url="https://www.youtube.com/watch?v=sD72LbIk02M"}}

{{lazy-video url="http://instagram.com/p/vXeXAnsieB/"}}

You can add a custom poster image by setting the poster attribute:

{{lazy-video url="https://vimeo.com/108532122" poster="images/poster.jpg"}}
